services:
  nats:
    image: nats:2.10-alpine
    container_name: egitim-nats
    ports:
      - "4222:4222"
      - "8222:8222"
    command: ["--jetstream", "--store_dir", "/data", "--http_port", "8222"]
    volumes:
      - nats_data:/data

  postgres:
    image: postgres:16-alpine
    container_name: egitim-postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: egitim_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  postgres_data:
  nats_data:
